<include file="Public/headr" />
  <!-- Start: Content -->
  <section id="content">
    <div id="topbar" class="affix">
      <ol class="breadcrumb">
        <li><a href="<?php echo U('Index/index');?>"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">关于我们</li>
      </ol>
    </div>
    <div class="container">

	 <div class="row">
        <div class="col-md-12">
			<div class="panel">
                <div class="panel-heading">
                  <div class="panel-title">关于列表</div>
                  <a href="<?php echo U("Guanyu/add"); ?>" class="btn btn-info btn-gradient pull-right"><span class="glyphicons glyphicon-plus"></span> 添加文章</a>
                </div>
                <form action="" method="post">
                <div class="panel-body">
                  <h2 class="panel-body-title">关于我们</h2>
                  <table class="table table-striped table-bordered table-hover dataTable">
                      <tr class="active">
                        <th class="text-center" width="100"><input type="checkbox" value="" id="checkall" class=""> 全选</th>
                        <th>编号</th>
                        <th>用户名</th>
                        <th>内容</th>
                        <th>图片</th>
                        <th>更改时间</th>
                        <th width="200">操作</th>
                      </tr>
					  <foreach name="list" item="value" > 
						<tr class="success">
                        <td class="text-center"><input type="checkbox" value="{$value.id}" name="idarr[]" class="cbox"></td>
                        <td>{$value.id}</td>
                        <td>{$value.name}</td>
                        <td>{$value.content}</td>
                        <td><img src="__UP__/{$value.img}" width="100px" height="100px"></td>
                        <td><?php echo date("Y-m-d h:i:s",$value['times']);?></td>
                        <td>
		                      <div class="btn-group">
		                        <a href="<?php echo U('Guanyu/edit',array('id'=>$value['id']));?>" class="btn btn-default btn-gradient"><span class="glyphicons glyphicon-pencil"></span></a>
		                        <a onclick="return confirm('确定要删除吗？');" href=" <?php echo U('Guanyu/del',array('id'=>$value['id']));?>" class="btn btn-default btn-gradient dropdown-toggle"><span class="glyphicons glyphicon-trash"></span></a>
		                      </div>
                        
                        </td>
                      </tr>
					  </foreach>
                    	
                     
                  </table>
                  
                  <div class="pull-left">
                  	<button type="submit" name="sub" class="btn btn-default btn-gradient pull-right delall"><span class="glyphicons glyphicon-trash"></span></button>
                  </div>
                  
                  <div class="pull-right">
                     <style>
                      .green_black a,.green_black span{
                                  line-height: 30px !important;
                                }
                      .current{width:30px;height:30px;line-height:15px;text-align:center;border:1px solid #14abd8;display:inline-block;color:red;margin-right:15px; font-weight:600;}
                      .num{width:30px;height:30px;line-height:15px;text-align:center;border:1px solid #14abd8;display:inline-block;color:lightblue; margin-right:15px;}
                      .next{width:30px;height:30px;line-height:15px;text-align:center;border:1px solid #14abd8;display:inline-block;color:lightblue;}
                      .prev{width:30px;height:30px;line-height:15px;text-align:center;border:1px solid #14abd8;display:inline-block;color:lightblue; margin-right:15px;}
                    </style>
                  <div class="pull-right green_black">
                    <?php echo $page; ?>
                  </div>
                  </div>
                  
                </div>
                </form>
              </div>
          </div>
        </div>
    </div>
  </section>
  <!-- End: Content --> 
</div>
<!-- End: Main --> 
</body>
</html>